/*	Database phần mêm quản lý lao động
	Môn học: Phát triển ứng dụng
	Lớp học phần: DHKTPM14
	Giảng viên: Trần Thị Anh Thi
 */ 
 use master
 go

Create database QuanLyLaoDong --Tạo CSDL cho phần mềm
ON PRIMARY 
(
	NAME = QLLaoDong,
	FILENAME = "D:\QLLD_data.mdf",
	SIZE = 10MB,
	MAXSIZE = 100MB,
	FILEGROWTH = 20MB
)
LOG ON 
(
	NAME = QLLaoDong_log,
	FILENAME = "D:\QLLD_log.ldf",
	SIZE = 6MB,
	MAXSIZE = 20MB,
	FILEGROWTH = 20MB
)
go
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyLaoDong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyLaoDong]
GO
/****** Object:  Table [dbo].[BangPhanCong]    Script Date: 1/8/2021 10:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangPhanCong](
	[IDPhanCong] [nvarchar](255) NOT NULL,
	[IDCongViec] [nvarchar](255) NULL,
	[TenCongViec] [nvarchar](255) NULL,
	[IDCongNhan] [nvarchar](255) NULL,
	[NgayBatDauCV] [date] NULL,
	[NgayKetThucCV] [date] NULL,
 CONSTRAINT [PK_BangPhanCong] PRIMARY KEY CLUSTERED 
(
	[IDPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenMon]    Script Date: 1/8/2021 10:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenMon](
	[IDChuyenMon] [nvarchar](255) NULL,
	[ChuyenMon] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ChuyenMon$] PRIMARY KEY CLUSTERED 
(
	[ChuyenMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongNhan]    Script Date: 1/8/2021 10:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongNhan](
	[IDCongNhan] [nvarchar](255) NOT NULL,
	[TenCongNhan] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
	[CMND] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](255) NULL,
	[ChuyenMon] [nvarchar](255) NULL,
	[TrinhDo] [nvarchar](255) NULL,
	[IDTrinhDo] [nvarchar](255) NULL,
 CONSTRAINT [PK_CongNhan] PRIMARY KEY CLUSTERED 
(
	[IDCongNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongTrinh]    Script Date: 1/8/2021 10:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongTrinh](
	[IDCongTrinh] [nvarchar](255) NOT NULL,
	[TenCongTrinh] [nvarchar](255) NULL,
	[DiaDiem] [nvarchar](255) NULL,
	[NgayCapPhep] [date] NULL,
	[NgayKhoiCong] [date] NULL,
	[NgayDuKienHoanThanh] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[TienDo] [nvarchar](255) NULL,
	[IDLoaiCT] [nvarchar](255) NULL,
 CONSTRAINT [PK_CongTrinh] PRIMARY KEY CLUSTERED 
(
	[IDCongTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongViec]    Script Date: 1/8/2021 10:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongViec](
	[IDCongViec] [nvarchar](255) NOT NULL,
	[TenCongViec] [nvarchar](255) NULL,
	[ChuyenMon] [nvarchar](255) NULL,
	[MoTa] [nvarchar](255) NULL,
	[NgayBatDauCV] [date] NULL,
	[NgayKetThucCV] [date] NULL,
	[TrangThai] [nvarchar](255) NULL,
	[IDCongTrinh] [nvarchar](255) NULL,
	[IDNhanVien] [nvarchar](255) NULL,
 CONSTRAINT [PK_CongViec$] PRIMARY KEY CLUSTERED 
(
	[IDCongViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiCongTrinh]    Script Date: 1/8/2021 10:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiCongTrinh](
	[IDLoaiCT] [nvarchar](255) NOT NULL,
	[TenLoaiCongTrinh] [nvarchar](255) NULL,
 CONSTRAINT [PK_LoaiCongTrinh] PRIMARY KEY CLUSTERED 
(
	[IDLoaiCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 1/8/2021 10:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[IDNhanVien] [nvarchar](255) NOT NULL,
	[TenNhanVien] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](255) NULL,
	[ngaySinh] [date] NULL,
	[CMND] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[diaChi] [nvarchar](255) NULL,
	[IDTaiKhoan] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](255) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[IDNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 1/8/2021 10:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IDTaiKhoan] [nvarchar](255) NOT NULL,
	[TenTaiKhoan] [nvarchar](255) NULL,
	[MatKhau] [nvarchar](255) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[IDTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrinhDo]    Script Date: 1/8/2021 10:51:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrinhDo](
	[IDTrinhDo] [nvarchar](255) NOT NULL,
	[TenTrinhDo] [nvarchar](255) NULL,
 CONSTRAINT [PK_TrinhDo] PRIMARY KEY CLUSTERED 
(
	[IDTrinhDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BangPhanCong] ([IDPhanCong], [IDCongViec], [TenCongViec], [IDCongNhan], [NgayBatDauCV], [NgayKetThucCV]) VALUES (N'PC000001', N'CV000001', N'Làm móng', N'CN111111', CAST(N'2020-11-15' AS Date), CAST(N'2020-12-02' AS Date))
INSERT [dbo].[BangPhanCong] ([IDPhanCong], [IDCongViec], [TenCongViec], [IDCongNhan], [NgayBatDauCV], [NgayKetThucCV]) VALUES (N'PC000002', N'CV000002', N'Dựng giàn giáo', N'CN111112', CAST(N'2020-12-05' AS Date), CAST(N'2020-12-10' AS Date))
INSERT [dbo].[BangPhanCong] ([IDPhanCong], [IDCongViec], [TenCongViec], [IDCongNhan], [NgayBatDauCV], [NgayKetThucCV]) VALUES (N'PC000003', N'CV000003', N'Thợ xây', N'CN111113', CAST(N'2020-12-01' AS Date), CAST(N'2021-05-20' AS Date))
GO
INSERT [dbo].[ChuyenMon] ([IDChuyenMon], [ChuyenMon]) VALUES (N'CM000000', N'Đổ bê tông')
INSERT [dbo].[ChuyenMon] ([IDChuyenMon], [ChuyenMon]) VALUES (N'CM000002', N'Dựng giàn giáo')
INSERT [dbo].[ChuyenMon] ([IDChuyenMon], [ChuyenMon]) VALUES (N'CM000012', N'Làm cầu thang')
GO
INSERT [dbo].[CongNhan] ([IDCongNhan], [TenCongNhan], [GioiTinh], [Phone], [NgaySinh], [CMND], [Email], [DiaChi], [TrangThai], [ChuyenMon], [TrinhDo], [IDTrinhDo]) VALUES (N'CN111111', N'MS HOTTA AKEMI', N'Nam', N'0989 134 945', CAST(N'1989-01-02' AS Date), N'225765995', N'huu.nguyen@worldsoftco.com', N'112 Nguyễn Văn Bảo, Phường 6, Quận Gò Vấp, TP HCM', N'Đang làm', N'Đổ bê tông', N'Kỹ sư ', N'KS000001')
INSERT [dbo].[CongNhan] ([IDCongNhan], [TenCongNhan], [GioiTinh], [Phone], [NgaySinh], [CMND], [Email], [DiaChi], [TrangThai], [ChuyenMon], [TrinhDo], [IDTrinhDo]) VALUES (N'CN111112', N'CHU VĂN AN', N'Nam', N'0945160066', CAST(N'1989-01-03' AS Date), N'225765996', N'akemi@risingmaster.vn', N'113 Nguyễn Văn Bảo, Phường 6, Quận Gò Vấp, TP HCM', N'Đang làm', N'Trộn hồ', N'Kỹ sư ', N'KS000001')
INSERT [dbo].[CongNhan] ([IDCongNhan], [TenCongNhan], [GioiTinh], [Phone], [NgaySinh], [CMND], [Email], [DiaChi], [TrangThai], [ChuyenMon], [TrinhDo], [IDTrinhDo]) VALUES (N'CN111113', N'DOAN VĂN LINH AN', N'Nam', N'0988929779', CAST(N'1989-01-04' AS Date), N'225765997', N'cinemabox2005@yahoo.com', N'114 Nguyễn Văn Bảo, Phường 6, Quận Gò Vấp, TP HCM', N'Đang làm', N'Dựng giàn giáo', N'Kỹ sư ', N'KS000001')
GO
INSERT [dbo].[CongTrinh] ([IDCongTrinh], [TenCongTrinh], [DiaDiem], [NgayCapPhep], [NgayKhoiCong], [NgayDuKienHoanThanh], [NgayKetThuc], [TienDo], [IDLoaiCT]) VALUES (N'CT000089', N'Khách sạn Rose', N'Q2', CAST(N'2021-01-01' AS Date), CAST(N'2021-01-01' AS Date), CAST(N'2021-07-16' AS Date), NULL, N'Hoàn thành', N'LCT00001')
INSERT [dbo].[CongTrinh] ([IDCongTrinh], [TenCongTrinh], [DiaDiem], [NgayCapPhep], [NgayKhoiCong], [NgayDuKienHoanThanh], [NgayKetThuc], [TienDo], [IDLoaiCT]) VALUES (N'CT000090', N'Khách sạn 5 sao Lại gia', N'Quận 2, TP HCM', CAST(N'2021-01-01' AS Date), CAST(N'2021-01-08' AS Date), CAST(N'2021-08-25' AS Date), NULL, N'Đang Thực Hiện', N'LCT00003')
INSERT [dbo].[CongTrinh] ([IDCongTrinh], [TenCongTrinh], [DiaDiem], [NgayCapPhep], [NgayKhoiCong], [NgayDuKienHoanThanh], [NgayKetThuc], [TienDo], [IDLoaiCT]) VALUES (N'CT111111', N'Trụ sở ban chỉ đạo phòng chống AIDS Quốc gia', N'234 Nguyễn Trãi, Phú Nhận', CAST(N'2020-10-10' AS Date), CAST(N'2020-11-01' AS Date), CAST(N'2021-07-02' AS Date), NULL, N'Đang Thực Hiện', N'LCT00001')
GO
INSERT [dbo].[CongViec] ([IDCongViec], [TenCongViec], [ChuyenMon], [MoTa], [NgayBatDauCV], [NgayKetThucCV], [TrangThai], [IDCongTrinh], [IDNhanVien]) VALUES (N'CV000001', N'Đổ bê tông', N'Đổ bê tông', N'Làm móng phải thật chắc?', CAST(N'2020-11-15' AS Date), NULL, N'Chưa hoàn thành', N'CT111111', N'NV000001')
INSERT [dbo].[CongViec] ([IDCongViec], [TenCongViec], [ChuyenMon], [MoTa], [NgayBatDauCV], [NgayKetThucCV], [TrangThai], [IDCongTrinh], [IDNhanVien]) VALUES (N'CV000002', N'Trộn hồ', N'Trộn hồ', NULL, CAST(N'2020-12-05' AS Date), NULL, N'Chưa hoàn thành', N'CT111111', N'NV000001')
INSERT [dbo].[CongViec] ([IDCongViec], [TenCongViec], [ChuyenMon], [MoTa], [NgayBatDauCV], [NgayKetThucCV], [TrangThai], [IDCongTrinh], [IDNhanVien]) VALUES (N'CV000003', N'Dựng giàn giáo', N'Dựng giàn giáo', NULL, CAST(N'2020-12-01' AS Date), NULL, N'Chưa hoàn thành', N'CT111111', N'NV000001')
GO
INSERT [dbo].[LoaiCongTrinh] ([IDLoaiCT], [TenLoaiCongTrinh]) VALUES (N'LCT00001', N'Hành chính')
INSERT [dbo].[LoaiCongTrinh] ([IDLoaiCT], [TenLoaiCongTrinh]) VALUES (N'LCT00002', N'Bệnh viện')
INSERT [dbo].[LoaiCongTrinh] ([IDLoaiCT], [TenLoaiCongTrinh]) VALUES (N'LCT00003', N'Khách sạn')
GO
INSERT [dbo].[NhanVien] ([IDNhanVien], [TenNhanVien], [GioiTinh], [ngaySinh], [CMND], [Phone], [email], [diaChi], [IDTaiKhoan], [TrangThai]) VALUES (N'NV000001', N'Nguyễn Mạnh Hà', N'Nam', CAST(N'2000-06-02' AS Date), N'225765994', N'0983954045', N'thienhoa@hcm.vnn.vn', N'244 Quang Trung, Phường 11, Gò Vấp', N'TK111111', N'Đi Làm')
INSERT [dbo].[NhanVien] ([IDNhanVien], [TenNhanVien], [GioiTinh], [ngaySinh], [CMND], [Phone], [email], [diaChi], [IDTaiKhoan], [TrangThai]) VALUES (N'NV000002', N'Lại Văn Vượng', N'Nam', CAST(N'2000-06-03' AS Date), N'225765995', N'0903808257', N'khanhson96@yahoo.com', N'245 Quang Trung, Phường 11, Gò Vấp', N'TK111112', N'Đi Làm')
INSERT [dbo].[NhanVien] ([IDNhanVien], [TenNhanVien], [GioiTinh], [ngaySinh], [CMND], [Phone], [email], [diaChi], [IDTaiKhoan], [TrangThai]) VALUES (N'NV000003', N'Châu Quốc An', N'Nam', CAST(N'2000-06-04' AS Date), N'222432567', N'0913560887', N'vanthanhson2000@yahoo.com.vn', N'246 Quang Trung, Phường 11, Gò Vấp', N'TK111113', N'Đi Làm')
GO
INSERT [dbo].[TaiKhoan] ([IDTaiKhoan], [TenTaiKhoan], [MatKhau]) VALUES (N'TK111111', N'admin', N'admin')
INSERT [dbo].[TaiKhoan] ([IDTaiKhoan], [TenTaiKhoan], [MatKhau]) VALUES (N'TK111112', N'quocan', N'quocan')
INSERT [dbo].[TaiKhoan] ([IDTaiKhoan], [TenTaiKhoan], [MatKhau]) VALUES (N'TK111113', N'manhha', N'manhha')
GO
INSERT [dbo].[TrinhDo] ([IDTrinhDo], [TenTrinhDo]) VALUES (N'KS000001', N'Kỹ Sư')
INSERT [dbo].[TrinhDo] ([IDTrinhDo], [TenTrinhDo]) VALUES (N'KS000002', N'Đại Học')
INSERT [dbo].[TrinhDo] ([IDTrinhDo], [TenTrinhDo]) VALUES (N'KS000003', N'Trung học phổ thông')
GO
ALTER TABLE [dbo].[BangPhanCong]  WITH CHECK ADD  CONSTRAINT [FK_BangPhanCong_CongNhan] FOREIGN KEY([IDCongNhan])
REFERENCES [dbo].[CongNhan] ([IDCongNhan])
GO
ALTER TABLE [dbo].[BangPhanCong] CHECK CONSTRAINT [FK_BangPhanCong_CongNhan]
GO
ALTER TABLE [dbo].[BangPhanCong]  WITH CHECK ADD  CONSTRAINT [FK_BangPhanCong_CongViec$] FOREIGN KEY([IDCongViec])
REFERENCES [dbo].[CongViec] ([IDCongViec])
GO
ALTER TABLE [dbo].[BangPhanCong] CHECK CONSTRAINT [FK_BangPhanCong_CongViec$]
GO
ALTER TABLE [dbo].[CongNhan]  WITH CHECK ADD  CONSTRAINT [FK_CongNhan_ChuyenMon$] FOREIGN KEY([ChuyenMon])
REFERENCES [dbo].[ChuyenMon] ([ChuyenMon])
GO
ALTER TABLE [dbo].[CongNhan] CHECK CONSTRAINT [FK_CongNhan_ChuyenMon$]
GO
ALTER TABLE [dbo].[CongNhan]  WITH CHECK ADD  CONSTRAINT [FK_CongNhan_TrinhDo] FOREIGN KEY([IDTrinhDo])
REFERENCES [dbo].[TrinhDo] ([IDTrinhDo])
GO
ALTER TABLE [dbo].[CongNhan] CHECK CONSTRAINT [FK_CongNhan_TrinhDo]
GO
ALTER TABLE [dbo].[CongTrinh]  WITH CHECK ADD  CONSTRAINT [FK_CongTrinh_LoaiCongTrinh] FOREIGN KEY([IDLoaiCT])
REFERENCES [dbo].[LoaiCongTrinh] ([IDLoaiCT])
GO
ALTER TABLE [dbo].[CongTrinh] CHECK CONSTRAINT [FK_CongTrinh_LoaiCongTrinh]
GO
ALTER TABLE [dbo].[CongViec]  WITH CHECK ADD  CONSTRAINT [FK_CongViec$_ChuyenMon$] FOREIGN KEY([ChuyenMon])
REFERENCES [dbo].[ChuyenMon] ([ChuyenMon])
GO
ALTER TABLE [dbo].[CongViec] CHECK CONSTRAINT [FK_CongViec$_ChuyenMon$]
GO
ALTER TABLE [dbo].[CongViec]  WITH CHECK ADD  CONSTRAINT [FK_CongViec$_CongTrinh] FOREIGN KEY([IDCongTrinh])
REFERENCES [dbo].[CongTrinh] ([IDCongTrinh])
GO
ALTER TABLE [dbo].[CongViec] CHECK CONSTRAINT [FK_CongViec$_CongTrinh]
GO
ALTER TABLE [dbo].[CongViec]  WITH CHECK ADD  CONSTRAINT [FK_CongViec$_NhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NhanVien] ([IDNhanVien])
GO
ALTER TABLE [dbo].[CongViec] CHECK CONSTRAINT [FK_CongViec$_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([IDTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
