html,body{
    width: 100%;
    height: 100%;
    margin-left: 20px;
    font-size: 23;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 40px;
}
ol,li{
    font-size: 32px;
    margin-left: 2%;
    margin-right: 15%;
}
p{
    margin-right: 20%;
    text-align: justify;
    font-size: 32px;
}
